@import 'site';

// Main site layout

// Blog posts
section {
  marginTop: 16px;
  marginBottom: 24px;
}

// Blog titles
header h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}

// Blog dates
header p {
  line-height: 1;
  margin-bottom: 2px;
  font-size: $secondary-size;
  color: var(--secondary-text);
}

header p span {
  margin-right: 4px;
}

// Blog excerpts
section p {
  margin-top: 0;
}
