{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
    <head>
        <title> {{ section.title }} </title>
        <link rel="stylesheet" href="home.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main>
            <header>
                <h1> {{ section.title }} </h1>
            </header>
            <article>
                {{ section.content | safe }}
                {{ macros::post_summaries(limit = 5) }}
                <a href="posts/"> <strong> More Posts </strong> </a>
            </article>
        </main>
    </body>
</html>
