<!DOCTYPE html>
<html>
    <head>
        <title> {{ page.title }} :: ryan.isaac.g </title>
        <link rel="stylesheet" href="/page.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main>
            <header>
                <a href="/"> Return Home </a>
                <h1> {{ page.title }} </h1>
                <small> {{ page.date }} </small>
            </header>
            <article>
                {{ page.content | safe }}
            </article>
        </main>
    </body>
</html>
