{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
    <head>
        <title> {{ section.title }} :: ryanisaacg </title>
        <link rel="stylesheet" href="/home.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main>
            <header>
                <a href="/"> Return Home </a>
                <h1> {{ section.title }}
            </header>
            {{ macros::post_summaries(limit = -1) }}
        </main>
    </body>
</html>
